# Set default behavior to automatically normalize line endings
* text=auto eol=lf

# Keep Unix line endings for shell scripts
*.sh text eol=lf

# Keep Unix line endings for Docker files
Dockerfile text eol=lf
